<launch>

<include file = "$(find velodyne_pointcloud)/launch/32e_points.launch">
	<arg name = "pcap" value = "/imu_up/2021-09-27-10-06-25.pcap"/>
	<arg name = "pcap_time" value = "true"/>
	<arg name = "read_once" value = "true"/>
</include>

<node
pkg = "rosbag"
type = "record"
name = "transbag"
args = "-O /home/wyc/mygit/LidarCalib/lidarup.bag /velodyne_points"
/>

<node
pkg = "rviz"
type = "rviz"
name = "rviz"
args = "-d /home/wyc/mygit/LidarCalib/rviz_config/velodyne_config.rviz"
required = "true"
/>

</launch>
