<launch>

<!--pcap转rostopic-->
<include file = "$(find velodyne_pointcloud)/launch/32e_points.launch">
	<arg name = "pcap" value = "/home/wyc/0927/envir_1/06_1225/2021-09-27-12-25-07.pcap"/>
	<arg name = "pcap_time" value = "true"/>
	<arg name = "read_once" value = "true"/>
</include>

<!--imu数据发布-->
<node
pkg = "rosbag"
type = "play"
name = "imu"
args = "/home/wyc/mygit/LidarCalib/rvs2bag/061225imu.bag"
/>

<!--完整点云标定程序-->
<node
pkg="lidar_calib"
type="lidartrans"
name="calib_node"
output = "screen"
/>

<!--录完整标定的点云包-->
<node
pkg = "rosbag"
type = "record"
name = "transbag"
args = "-O /home/wyc/mygit/LidarCalib/calibed_lidar/06_1225_lidar.bag /lidar_calibed"
/>

<node
pkg = "rviz"
type = "rviz"
name = "rviz"
args = "-d /home/wyc/mygit/LidarCalib/rviz_config/calib.rviz"
required = "true"
/>


</launch>
